body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f8f4;
    color: #51493d;
}

.wrapper {
    width: 90%;
    margin: auto;
}

/* Header section */
header {
    width: 100%;
    background: #f9f8f4;
    position: fixed;
    height: 70px;
    background: rgba(249,248,244,0.9);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom: 1px solid #51493d;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: fixed;
    top: 65px;
}

.progress > div {
    height:3px;
    background: #474137;
    width: 0%;
}

.logo {
    float: left;
    padding: 20px 0px;
    margin-left: .5%;
}

.logo-text{
    padding: -30px 20px;
    font-size: 1.5rem;
}

.nav-collapse {
    float: right;
    box-sizing: border-box;
}

.menu-items {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #51493d;
    
}
.nav-collapse a::before,
.nav-collapse a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.nav-collapse a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.nav-collapse a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.nav-collapse a:hover::before,
.nav-collapse a:hover::after,
.nav-collapse a:focus::before,
.nav-collapse a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


.nav-collapse a:hover {
    color: #51493d;
}

/*Header section ends here! And Slider section starts from here! */


#demoCanvas {
  background-image: url(Images/and.jpg);
  background-position: center;
  background-size: cover;          
}

.content{
  position: absolute;    
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content a {
    padding: 10px 30px;
    border-radius: 5%;
    background-color: #996439;
    border: 2px solid #996439;
    text-decoration: none;
    color: white;
}

.content a:hover {
    cursor: pointer;
    background-color: #51493d;
    border: 2px solid #51493d;
}

/*Slider section ends here! And portfolio section starts from here! */

.portfolio {
    background: #f9f8f4;
    width: 100%;
    height:1200px;
}

.portfolioheader {
  padding: 20px 0;
  text-align: center
}

.portfolioheader h1 {
  font-size: 33px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
}
.portfolioheader p {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "adelle", sans-serif;
  font-weight: 400;
}

.grid {
    width: 90%;
    margin-left: 8%;
    transition: opacity .6s ease;
}

.row1,.row2,.row3 {
    opacity: 0;
}

.animation-element {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*Portfolio section ends here! And Design Process section starts from here! */

.design-process {
    clear: left;
    background-image: url(Images/ts-maze-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fffdf9;
    height: 550px;
    margin-bottom: 1%;
}

.design-process__header {
    padding: 20px 0;
    text-align: center
}
    .previous, .next {
        display: none;
}
.design-process__header h1 {
    color: #51493d;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
}
.card-image__description p{
    color: rgba(81,73,61,0.7);
}
.cards-container {
    width: 100%;
    display: flex;
    
}

.card {
    margin: auto;
    width: 30%;
    height: 350px;
    border: 1px solid #d4d0cb;
    background: rgb(249, 248, 244);
    padding: 1.5em .75em .575em .75em;
}

.animation-card {
  opacity: 0;
  -moz-transition: all .4ms ease;
  -webkit-transition: all .4ms ease;
  -o-transition: all .4ms ease;
  transition: all .4s linear;
  -moz-transform: translate3d(scale(.5));
  -webkit-transform: translate3d(scale(.5));
  -o-transform: translate(scale(.5));
  -ms-transform: translate(scale(.5));
  transform: translate3d(scale(.5));
}

.in-view-card {
  opacity: 1;
  -moz-transform: translate3d(scale(1));
  -webkit-transform: translate3d(scale(1));
  -o-transform: translate(scale(1));
  -ms-transform: translate(scale(1));
  transform: translate3d(scale(1));
}

.card-image {
    text-align: center;
}

.card-image__design {
    margin-bottom: 12%;
}

.card-image img {
    width: 35%;
}

.card-image__description{
    text-align: center;
}

.container {
    position: relative;
    width: 40%;
    float: left;
    margin: 3%;
   
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 5%; 
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
  background-color: #f9f8f4;
}

.text {
  color: #995F37;
  border: 1px solid #995F37;
  font-size: 16px;
  padding: 16px 32px;
}

/*Design Process section ends here! And About Me section starts from here! */

.about-me{
    clear: left;
    width: 100%;
    height: 520px;
    margin-bottom: 2%;
    background-color: #f9f8f4;
}

.csuf-image img {
    width: 50%;
    height: auto;
    float: left;
}

.about {
    text-align: center;
    margin-top: -.5%;
}
.about-me__title{
    color: #51493d;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
}
.animation-element1 {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.in-view1 {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*About Me section ends here! And Contact Me section starts from here! */

.Contact-container {
    clear: left;
    background-image: url(Images/ts-maze-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fffdf9;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact-me__title{
    color: #51493d;
    padding-top: 3%;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
}
#contact h2 {
  color: #8c9398;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: none;
  line-height: 28px;
  margin-bottom: 5%;
}
.send-message {
  cursor: pointer;
  padding: 10px 30px;
  border: 2px solid #996439;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  background: #996439;
  text-decoration: none;
  transform-style: preserve-3d;
}

.send-message:hover {
     border: 2px solid #474137;
     background: #474137;

}

#map {
    margin-top: 3%;
    height: 100%;
    
}

.address {
    position: absolute;
    margin-top: -5%;
    width: 100%;
    background:#996439;
    padding: 5px 0px; 
    color: #fff;
    text-align: center;
}

/*Contact Me section ends here! And Footer section starts from here! */

.footer {
    height: 100px;
    background: #474137;
   
}
.footer-title {
    padding-top: 2.5%;
}

.footer-text {
    margin-top: 40%;
     color:#f9f8f4;
}

.social-icon {
    margin-top: -3%;
    float: right;
    width: 17%;
}

.social-icon img{
    border-radius: 50%;
    width: 17%;
    margin: 2%;
    transition: .4s all ease;
}
.media-icons:hover {
    cursor: pointer;
}

.linkedin:hover {
    border:2px dashed #0077b5;
    -webkit-transform: scale(1.2);
}
.github:hover {
    border:2px dashed #6cc644;
    -webkit-transform: scale(1.2);
}
.fb:hover {
    border:2px dashed #3b5998;
    -webkit-transform: scale(1.2);
}
.instagram:hover {
    border:2px dashed #bc2a8d;
    -webkit-transform: scale(1.2);
  
}

/*Footer section ends here! And Mobile Menu section starts from here! */

.mobile-menu__icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 30px;
        right: 10px;
        display: none;   
}
    
.icon {
    display:none;
}
#close {
    width: 26%;
    display: none;  
}
/*Mobile Menu section ends here! And Overlay section starts from here! */
.overlay1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(249,248,244,0.7);
    color: #51493d;
    overflow-x: hidden;
    transition: 0.9s;
}

.overlay1-content {
    opacity: 1;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay1 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay1 a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay1 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* projects */
.projects {
  background: rgba(153,100,57,.7);
  padding: 50px;
  text-align: left;
  max-width: 900px;
  margin: 40px auto;
  position: relative;
  z-index: 1;
}
.projects h1 {
  padding-top: 35px;
  color: #242830;
  font-weight: 300;
  font-size: 2rem;
  line-height: 35px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}
.projects h2 {
  color: #f9f8f4;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.4rem;
  padding-top: 5px;
  text-align: center;
  text-transform: none;
}

.projects p {
  color: #f9f8f4;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.4rem;
  padding-top: 5px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: none;
}


a.projectlink {
  width: 210px;
  font-size: 11px;
  background-color: #474137;
  font-weight: 500;
  letter-spacing: 3px;
  display: block;
  margin: 0 auto 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f9f8f4;
  padding: 12px;
  border: 2px solid #474137;
  border-radius: 1px;
  font-family: "open-sans", sans-serif;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
a.projectlink:hover {
     border: 2px solid #996439;
     background: #996439;
}
.projects img {
  padding: 30px 0 10px 0;
  max-width: 100%;
}
.zoom-anim-dialog {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}



.project-margin__top {
    margin-top: -15%;
}

.cms {
    margin-top: -30%;
}

.emt,.twitter {
    margin-top: -15%;
    padding: 50px 1px 50px 59px;
}



/*Overlay and Projects  section ends here!  */


@media (max-width: 700px) {

  #myTopnav {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    opacity: .9;
    
  }
  .mobile-menu__icon {
    display: block;
    position: absolute;
    right: 7%;
    top: 22%;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
    transition: .6s all ease;
  }
  #myTopnav ul {
    background: #f9f8f4;
    width: 100%;
    margin: 0px;
       
  }
  #myTopnav ul li {
    float: none;
    list-style-type: none;
    display: block;
  }
    
  #myTopnav ul li a {
   
    line-height: 20px;
  }
    
  a:link {
         text-decoration: none;
  }

  .nav-collapse a::before,
  .nav-collapse a::after {
        display: none;
  }
}


@media screen and (max-width: 499px) and (min-width: 320px) {
        
    
    .logo__small{
        width: 12%;
        height: 42px;
        margin-top: 4%;
        margin-left: -4%;
    }
    
    .wrapper__small {
        width: 100%;
        margin-left: -21px;
    }
    
    .content {
        top: 70%;
    }
    .portfolio__small {
        height: 2000px;
        margin-bottom: 1%;
    }
    .conatiner__small {
        width: 100%;
    }

    .display-container{
      display: flex;
        width: 100%;
    }
    .design-process__header h1 {
        font-size: 31px;
    }
    .card__small {
        margin-top: -2%;
        flex-flow: column;
        width: 100%;
        text-align: center;
    }
    .previous, .next {
        display: block;
        margin-top: 46%;
        padding: 5px 5px;
    }
    .card-image__design {
       margin-bottom: -1%:
    }
    .card-image__design img {
        width: 45%;
    }
    .card-image__small {
        display: block;
        width: 100%;
    }
    .card-image__small img{
        width: 44%;
    }
    .csuf-image__small {
        display: none;
    }
    .about__small {
        width: 100%;
        margin-left: auto;
    }
    
    .social-icon {
        position: absolute;
        margin-top: -23%;
        width: 80%;
        margin-left: 13%;
     
        
    }
    .social-icon img {
        width: 15%;
    }

    .footer-title {
        margin-top: 12%;
            padding-top: 20.5%;
    padding-left: 17.5%;
    }

    .address {
        position: absolute;
        margin-top: -14%;
    }
    .footer {
        margin-top: -10.2%;
        width: 100%;
        height: 120px;
    }
    
    .projects {
        padding: 20px;
      
    }
    .overlay1 .closebtn {
        top: -12px;
        right: 8px;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
        
    
    .logo__small{
        width: 12%;
        height: 42px;
        margin-top: 4%;
        margin-left: -4%;
    }
    
    .wrapper__small {
        width: 100%;
        margin-left: -21px;
    }
    
    .content {
       top:100%;
    }
    .portfolio__small {
        height: 1000px;
        margin-bottom: 1%;
    }
    .conatiner__small {
        width: 44%;
        float: left;
        height: auto;
    }

    .display-container{
      display: flex;
        width: 100%;
    }
    .design-process__header h1 {
        font-size: 31px;
    }
    .card__small {
        margin-top: -2%;
      
        text-align: center;
    }

    .card__small p {
         font-size: .9rem;
    }
    
    .previous, .next {
        display:none;
    }
    .card-image__design {
       margin-bottom: -1%:
    }
    .card-image__design img {
        width: 45%;
    }
    .card-image__small {
        display: block;
        width: 100%;
    }
    .card-image__small img{
        width: 44%;
    }
    .csuf-image__small {
        display: none;
    }
    .about__small {
        width: 100%;
        margin-left: auto;
    }
    
    .about__small p {
        font-size: 1.2rem;
    }
    .social-icon {
        position: absolute;
        float: right;
        right: 0;
        margin-top: 11%;
        width: 30%;   
    }
    .social-icon img {
        width: 15%;
    }

    .footer-title {
        float: left;
        padding-top: 13%;
    }

    .address {
        position: absolute;
        margin-top: -14%;
    }
    .footer {
        margin-top: -10.2%;
        width: 100%;
        height: 120px;
    }
    
    .projects {
        padding: 20px;
      
    }
    .overlay1 .closebtn {
        top: -12px;
        right: 8px;
    }}
    